<h1>Listing fingerprints</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>DOI</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fingerprints.each do |fingerprint| %>
      <tr>
        <td><%= fingerprint.name %></td>
        <td><%= fingerprint.description %></td>
	<td><%= fingerprint.doi %></td>
        <td><%= link_to 'Show', fingerprint %></td>
        <td><%= link_to 'Edit', edit_fingerprint_path(fingerprint) %></td>
        <td><%= link_to 'Destroy', fingerprint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fingerprint', new_fingerprint_path %>
