<p id="notice"><%= notice %></p>


<div class="courses">
<h1> My Courses</h1>
<table>
  <thead>
    <tr>
      <th>Instructor</th>
      <th>Class Name</th>
      <th>Size</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
        <% CourseUser.all.each do |cu|%>
                <% if  cu.user_id == current_user.id && course.id == cu.course_id %>
                        <% @curr_course_user = cu %>
                <% end %>
        <% end %>

	<% if !current_user.teacher && course.course_users.include?(@curr_course_user )%>

      <tr>
          <% @Users.each do |u| %>
                <% if u.id == course.user_id %>
                   <td><%= u.name %></td>
                <% end %>
          <%end%>
        <td><%= course.title %></td>
        <td><%= course.size %></td>
        <td><%= link_to 'DROP', new_course_user_path(course)%>
      </tr> 
         <%end%>

         <% if current_user.teacher  && course.user_id == current_user.id%>
	<tr> <% @Users.each do |u| %>
                <% if u.id == course.user_id %>
                   <td><%= u.name %></td>
                <% end %>
          <%end%>
        <td><%= course.title %></td>
        <td><%= course.size %></td>

        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>  <%#= link_to 'New Seating Chart', new_seating_chart_path(course) %>
        <%end%>

     <% end %>

   </tbody>
</table>
</div>


<div class="courses">
<h1> All Courses </h1>
<table>
  <thead>
    <tr>
      <th>Instructor</th>
      <th>Class Name</th>
      <th>Size</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
          <% @Users.each do |u| %>
		<% if u.id == course.user_id %>
		   <td><%= u.name %></td>
                <% end %>
          <%end%>
        <td><%= course.title %></td>
	<td><%= course.size %></td>

	<% if current_user.teacher  && course.user_id == current_user.id%>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%#= link_to 'New Seating Chart', new_seating_chart_path(course) %>
	<%end%>



	<%CourseUser.all.each do |cu|%>
  		<% if  cu.user_id == current_user.id && course.id == cu.course_id %>
    			<% @curr_course_user = cu %>
    	 	<% end %>
      	<% end %>



         <% if !current_user.teacher  %>
	   <% if course.course_users.include?(@curr_course_user)   %>
                <td><%= link_to 'DROP', new_course_user_path(course)%></td>
	   <% elsif !course.course_users.include?(@curr_course_user) &&   course.course_users.size <= course.size  %>
		<td><%= link_to 'ADD', new_course_user_path(course)%>  </td>
	   <%end%>
         <%end%>
      <%end%>

      </tr>
  </tbody>
</table>
<% if current_user.teacher %>
<%= link_to ' + New Course', new_course_path %>

<% end %>

</div>
<br>




