<%= form_for(@image) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="update-image">
  <div class="field">
   <span class="title"> <%= f.label :filename%></span>
    <%= f.text_field :filename %><br>
   <div class="field-indented">
   <span class="title"> <%= f.file_field :uploaded_file %></span><br>
   </div>
   <span class="title"> <%= f.label :private%></span>
   <span class="field-indented">
    <%= f.check_box :private%>
   </span>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
