<p id="notice"><%= notice %></p>

<h1>Listing Images</h1>


  <div class="public">
    <h2> Public Images </h2>
    <% @images.each do |image| %>
       <% if !image.private? %>
      <div class="image-thumb">
        <%= image_tag root_url + "/images/" + image.filename, size: "100x100", alt: image.filename %><br>
        <%= image.user.name %><br>
        <%= link_to 'Show', image %><br>
        <%= link_to 'Edit', edit_image_path(image) %><br>
        <%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %><br>
      </div>
	<% end %>
    <% end %>
  </div>


<br>

<%= link_to 'New Image', new_image_path %>
