<div class="view-image">
<p> <span class="title"> User:</span>
  <%= @image.user.name %>
</p>
<p> <span class="title"> Privacy:</span>
  <% if @image.private %>
	<%= 'Private' %>
  <% else %>
	<%= 'Public' %>
<% end %>
</p>

<table>
  <thead>
    <tr>
      <span class="title">Tags:</span>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @image.tags.each do |tag| %>
      <% if !tag.new_record? %>
      <tr>
        <td><%= tag.tag_string %></td>
         <% if user_signed_in? && current_user.id == @image.user_id %>
        <td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
     <% end %>
    <% end %>
  </tbody>
</table>
<% if user_signed_in? && current_user.id == @image.user_id %>
  <%= render 'tags/form' %>
<% end %>
<br>


<%= image_tag root_url + "/images/" + @image.filename, size: "300x300", alt: @image.filename %>
<br>
<% if user_signed_in? && current_user.id == @image.user_id %>
  <%= render 'form' %>
  <%#= select("user", "user_id", User.all.collect {|u| [ [u.name, u.email],  u.id] })%>
 
<% if @image.private? %>
<table>
  <thead>
    <tr>
      <span class="title">Shared with:</span>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @image.image_users.each do |image_user| %>
     <% if !image_user.new_record? %>
      <tr>
	<% @users.each do |u| %>
	<% if u.id == image_user.user_id && u.id != current_user.id%>
        <td><%= u.name %></td>
        <td><%= link_to 'Destroy', image_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
	<% end %>
	</tr>
     <% end %>
    <% end %>
  </tbody>
</table>


  <%= render 'image_users/form'%>
<% end %>
<% end %>


</div>
<h2 class="back-link"> <%= link_to '< Back', images_path %></h2>

