<div class="view-image">
<p> <span class="title"> User:</span>
  <%= @image.user.name %>
</p>
<p> <span class="title"> Privacy:</span>
  <% if @image.private %>
	<%= 'Private' %>
  <% else %>
	<%= 'Public' %>
<% end %>
</p>

<table>
  <thead>
    <tr>
      <span class="title">Tags:</span>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @image.tags.each do |tag| %>
      <% if !tag.new_record? %>
      <tr>
        <td><%= tag.tag_string %></td>
         <% if user_signed_in? && current_user.id == @image.user_id %>
        <td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
     <% end %>
    <% end %>
  </tbody>
</table>
<% if user_signed_in? && current_user.id == @image.user_id %>
  <%= render 'tags/form' %>
<% end %>
<br>


<%= image_tag root_url + "/images/" + @image.filename, size: "300x300", alt: @image.filename %>
<br>
<% if user_signed_in? && current_user.id == @image.user_id %>
  <%= render 'form' %>
<% end %>


</div>
<h2 class="back-link"> <%= link_to '< Back', images_path %></h2>

