<p id="notice"><%= notice %></p>

<p>
  <strong>Image object:</strong>
  <%= @image_user.image_object %>
</p>

<p>
  <strong>User:</strong>
  <%= @image_user.user %>
</p>

<%= link_to 'Edit', edit_image_user_path(@image_user) %> |
<%= link_to 'Back', image_users_path %>
