<!-- the following calls the name() function in the Professor model -->
<h1><%= @fingerprint.name %>'s Ratings </h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>About</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link.name %></td>
        <td><%= link.about %></td>
        <td><%= link_to 'Edit', edit_link_path(link) %></td>
        <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rating', new_fingerprint_link_path %> |
<%= link_to "Back to #{@fingerprint.name}'s page", fingerprint_path(@fingerprint) %>
